{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Websites monitor</title>
</head>
<body>

    <h1>Hello!</h1>
    <h2 id="web_site_status">The website to verify: {{ configuration_act.0.url | default:"Not configured" }} </h2>
    <script src="{% static 'js/jQuery/jquery-2.2.3.min.js' %}"></script>
    <script>
        var frequency = '{{ configuration_act.0.frequency | default:""}}';
        var web_site_text = $('#web_site_status');

        $(document).ready(function () {
            checkWebSite(frequency);
        });

        function checkWebSite(freq) {
            if(freq){
                setTimeout(function () {
                    $.ajax({
                        url: '{% url "check-web-site-status" %}',
                        success: function (response) {
                            console.log(response);
                            web_site_text.html("The website " + response.site + " is <span style=\"color:" + (response.status == 'UP' ? 'green' : 'red' ) + ";font-weight:bold\" >" + response.status + "</span>");
                            checkWebSite(response.freq_val);
                        },
                        error: function(xmlhttprequest, textstatus, message) {
                            console.log(xmlhttprequest.responseJSON);
                            web_site_text.html('A error ocurred: '+ xmlhttprequest.responseJSON.msg);
                            checkWebSite(freq);
                        }
                    });
                }, freq * 1000)
            }
            else{
                $('#web_site_status').html('Please add a configuration and refresh the page.').show();
            }
        }
    </script>
</body>
</html>